﻿@using RecutLog.Models
@{
    ViewBag.Title = "Add Recut";
    string workOrder = (string)ViewData["WorkOrder"];
    string errMsg = (string)ViewData["ErrMsg"];
    var areaList = (List<ShopArea>)ViewData["shopAreas"];
    var workAreaList = (List<WorkArea>)ViewData["workAreas"];
    var recutDesc = (List<string>)ViewData["recutDesc"];
}


    <h2>Add Recut</h2>
    @if (errMsg != "" && errMsg != null)
    {
        <div class="err">@errMsg</div>
    }
    @if (workOrder != "" && workOrder != null)
    {
        <div class="info">Added recut for @workOrder</div>
    }
    <form method="post">
        <table class="entry">
            <tr>
                <td>Work Order:</td>
                <td><input type="text" name="WorkOrder" /></td>
            </tr>
            <tr>
                <td>Cabinet No:</td>
                <td><input type="text" name="Item" /></td>
            </tr>
            <tr>
                <td>Part:</td>
                <td><input type="text" name="Part" /></td>
            </tr>
            <tr>
                <td>Requested By:</td>
                <td><input type="text" name="RequestedBy" /></td>
            </tr>
            <tr>
                <td>Zone:</td>
                <td>
                    <select name="Area">
                        @foreach (var curArea in areaList)
                        {
                            <option value="@curArea.Area">@curArea.Area</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Work Station:</td>
                <td>
                    <select name="WorkArea">
                        @foreach (var curWorkArea in workAreaList)
                        {
                            <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>
                    <!--<input type="text" name="Description" />-->
                    <select name="Description">
                        @foreach (var curDesc in recutDesc)
                        {
                            <option value="@curDesc">@curDesc</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Notes:</td>
                <td><input type="text" name="Notes" /></td>
            </tr>
            <tr>
            <tr>
                <td style="vertical-align: top;">Additional Parts:</td>
                <td>
                    <input type="text" name="AddPart1" />
                    <br /><input type="text" name="AddPart2" />
                    <br /><input type="text" name="AddPart3" />
                    <br /><input type="text" name="AddPart4" />
                    <br /><input type="text" name="AddPart5" />
                    <br /><input type="text" name="AddPart6" />
                    <br /><input type="text" name="AddPart7" />
                    <br /><input type="text" name="AddPart8" />
                    <br /><input type="text" name="AddPart9" />
                    <br /><input type="text" name="AddPart10" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Add" /></td>
            </tr>
        </table>
    </form>
