﻿@{
    ViewBag.Title = "Home Page";
}

<div class="page-head">
    <h3>Shop Recut Log</h3>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Links</h4>
        <table>
            <tr>
                <td>@Html.ActionLink("Add Recut", "AddRecut", "Home")</td>
            </tr>
            <tr>
                <td>@Html.ActionLink("Add for Cutlist", "WorkOrderCheck", "Home")</td>
            </tr>
            <tr>
                <td>@Html.ActionLink("To Be Cut", "ToBeCut", "Home")</td>
            </tr>
            <tr>
                <td>@Html.ActionLink("Recently Cut", "RecentCut", "Home")</td>
            </tr>
            <tr>
                <td>@Html.ActionLink("Reports", "Reports", "Home")</td>
            </tr>
        </table>
    </div>
</div>