﻿@using RecutLog.Models
@{
    ViewBag.Title = "Recent Cuts";

    var cutList = (List<RecutEntry>)ViewData["cutList"];
    string tdClass = "";
    string workOrder = (string)ViewData["workOrder"];
}

<h2>Recent Cuts</h2>

<form method="post">
    Work Order: <input type="text" name="WorkOrder" value="@workOrder" />
    <input type="submit" value="Filter" name="btnFilter" /><br />
</form>

<table class="data-list">
    <tr>
        <th>Work Order</th>
        <th>Cabninet No.</th>
        <th>Part</th>
        <th>Req. By</th>
        <th>Recuts</th>
        <th>Recut At</th>
        <th>Add Parts</th>
        <th>Comments</th>
    </tr>
    @foreach (var curEntry in cutList)
    {
        <tr>
            <td class="@tdClass">@curEntry.WorkOrder</td>
            <td class="@tdClass">@curEntry.Item</td>
            <td class="@tdClass">@curEntry.Part</td>
            <td class="@tdClass">@curEntry.RequestedBy</td>
            <td class="@tdClass">@curEntry.Recuts</td>
            <td class="@tdClass">@curEntry.RecutAt.ToString("MM-dd-yyyy hh:mm tt")</td>
            <td class="@tdClass">@curEntry.AddParts</td>
            <td class="@tdClass">@curEntry.Comments</td>
        </tr>

        if (tdClass == "")
        {
            tdClass = "alt-row";
        }
        else
        {
            tdClass = "";
        }
    }
</table>

