﻿@{
    ViewBag.Title = "Reports";
}

<div class="page-head">
    <h3>Shop Recut Reports</h3>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Links</h4>
        <table>
            <tr>
                <td><a href="http://acctgsvr/ReportServer/Pages/ReportViewer.aspx?/RecutByDay" target="_blank">Recuts by Day</a></td>
            </tr>
            <tr>
                <td><a href="http://acctgsvr/ReportServer/Pages/ReportViewer.aspx?/RecutByDayDesc" target="_blank">Recuts by Day and Description</a></td>
            </tr>
            <tr>
                <td><a href="http://acctgsvr/ReportServer/Pages/ReportViewer.aspx?/RecutData" target="_blank">Recut Data</a></td>
            </tr>
        </table>
    </div>
</div>