﻿@using RecutLog.Models
@{
    ViewBag.Title = "To Be Recut";

    var cutList = (List<RecutEntry>)ViewData["cutList"];
    string tdClass = "";
    string workOrder = (string)ViewData["workOrder"];
}

<h2>To Be Recut</h2>

<form method="post">
    Work Order: <input type="text" name="WorkOrder" value="@workOrder" />
    <input type="submit" value="Filter" name="btnFilter" /><br />
</form>

<table class="data-list">
    <tr>
        <th>Work Order</th>
        <th>Cabinet No.</th>
        <th>Part</th>
        <th>Req. By</th>
        <th>Requested</th>
        <th>Zone</th>
        <th>Recuts</th>
        <th>Add. Parts</th>
        <th colspan="2"></th>
    </tr>
    @foreach (var curEntry in cutList)
    {
        <tr>
            <td class="@tdClass">@curEntry.WorkOrder</td>
            <td class="@tdClass">@curEntry.Item</td>
            <td class="@tdClass">@curEntry.Part</td>
            <td class="@tdClass">@curEntry.RequestedBy</td>
            <td class="@tdClass">@curEntry.RequestedAt.ToString("MM-dd-yyyy hh:mm tt")</td>
            <td class="@tdClass">@curEntry.Area<br />@curEntry.WorkArea</td>
            <td class="@tdClass">@curEntry.Recuts</td>
            <td class="@tdClass">@curEntry.AddParts</td>
            <td class="@tdClass">
                <form method="post">
                    @if (@curEntry.Recuts > 1)
                    {
                        @Html.Raw("Comment:<br />");
                        <input type="text" maxlength="250" name="Comments" />
                    }
                    <input type="hidden" name="logID" value="@curEntry.LogID" />
                    <input type="submit" value="Cut" name="btnCut" />
                </form>
            </td>
            <td class="@tdClass">
                <form method="post">
                    <input type="hidden" name="logID" value="@curEntry.LogID" />
                    <input type="submit" value="Cancel" name="btnCancel" />
                </form>
            </td>
        </tr>

        foreach (var curPart in curEntry.PartsList)
        {
        <tr>
            <td class="@tdClass" colspan="2"></td>
            <td class="@tdClass">@curPart</td>
            <td class="@tdClass" colspan="7"></td>
        </tr>
        }

        if (tdClass == "")
        {
            tdClass = "alt-row";
        }
        else
        {
            tdClass = "";
        }
    }
</table>

