﻿@using RecutLog.Models

@{
    string workOrder = (string)ViewData["WorkOrder"];
    string errMsg = (string)ViewData["ErrMsg"];
    var areaList = (List<ShopArea>)ViewData["shopAreas"];
    var workAreaList = (List<WorkArea>)ViewData["workAreas"];
    var recutDesc = (List<string>)ViewData["recutDesc"];
}

<h2>Work Order Check</h2>

@if (errMsg != "" && errMsg != null)
{
    <div class="err">@errMsg</div>
}
@if (workOrder != "" && workOrder != null)
{
    <div class="info">Added recut for @workOrder</div>
}

<form method="post">
    <table class="entry">
        <tr>
            <th>Work Order</th>
            <th>Cut List</th>
            <th>Rework Runner Name</th>
            <th>Date</th>
            <th></th>
        </tr>
        <tr>
            <td><input type="text" name="WorkOrder" /></td>
            <td><input type="text" name="CutList" /></td>
            <td><input type="text" name="RequestedBy" /></td>
            <td>@DateTime.Now.ToShortDateString()</td>
            <td><input type="submit" value="Add" /></td>
        </tr>
    </table>

    <table class="entry">
        <tr>
            <th>Cabinet</th>
            <th>Zone</th>
            <th>Machine</th>
            <th>Description</th>
            <th>Notes</th>
            <th>Part</th>
            <th>Cabinet Type</th>
            <th>Doors</th>
            <th>Drawers</th>
        </tr>
        <tr>
            <td><input type="text" name="Item1" /></td>
            <td>
                <select name="Area1">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea1">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description1">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes1" /></td>
            <td><input type="text" name="Part1" size="5" /></td>
            <td><input type="text" name="CabinetType1" /></td>
            <td><input type="checkbox" name="Doors1" /></td>
            <td><input type="checkbox" name="Drawers1" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item2" /></td>
            <td>
                <select name="Area2">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea2">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description2">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes2" /></td>
            <td><input type="text" name="Part2" size="5" /></td>
            <td><input type="text" name="CabinetType2" /></td>
            <td><input type="checkbox" name="Doors2" /></td>
            <td><input type="checkbox" name="Drawers2" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item3" /></td>
            <td>
                <select name="Area3">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea3">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description3">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes3" /></td>
            <td><input type="text" name="Part3" size="5" /></td>
            <td><input type="text" name="CabinetType3" /></td>
            <td><input type="checkbox" name="Doors3" /></td>
            <td><input type="checkbox" name="Drawers3" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item4" /></td>
            <td>
                <select name="Area4">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea4">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description4">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes4" /></td>
            <td><input type="text" name="Part4" size="5" /></td>
            <td><input type="text" name="CabinetType4" /></td>
            <td><input type="checkbox" name="Doors4" /></td>
            <td><input type="checkbox" name="Drawers4" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item5" /></td>
            <td>
                <select name="Area5">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea5">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description5">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes5" /></td>
            <td><input type="text" name="Part5" size="5" /></td>
            <td><input type="text" name="CabinetType5" /></td>
            <td><input type="checkbox" name="Doors5" /></td>
            <td><input type="checkbox" name="Drawers5" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item6" /></td>
            <td>
                <select name="Area6">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea6">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description6">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes6" /></td>
            <td><input type="text" name="Part6" size="5" /></td>
            <td><input type="text" name="CabinetType6" /></td>
            <td><input type="checkbox" name="Doors6" /></td>
            <td><input type="checkbox" name="Drawers6" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item7" /></td>
            <td>
                <select name="Area7">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea7">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description7">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes7" /></td>
            <td><input type="text" name="Part7" size="5" /></td>
            <td><input type="text" name="CabinetType7" /></td>
            <td><input type="checkbox" name="Doors7" /></td>
            <td><input type="checkbox" name="Drawers7" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item8" /></td>
            <td>
                <select name="Area8">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea8">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description8">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes8" /></td>
            <td><input type="text" name="Part8" size="5" /></td>
            <td><input type="text" name="CabinetType8" /></td>
            <td><input type="checkbox" name="Doors8" /></td>
            <td><input type="checkbox" name="Drawers8" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item9" /></td>
            <td>
                <select name="Area9">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea9">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description9">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes9" /></td>
            <td><input type="text" name="Part9" size="5" /></td>
            <td><input type="text" name="CabinetType9" /></td>
            <td><input type="checkbox" name="Doors9" /></td>
            <td><input type="checkbox" name="Drawers9" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item10" /></td>
            <td>
                <select name="Area10">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea10">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description10">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes10" /></td>
            <td><input type="text" name="Part10" size="5" /></td>
            <td><input type="text" name="CabinetType10" /></td>
            <td><input type="checkbox" name="Doors10" /></td>
            <td><input type="checkbox" name="Drawers10" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item11" /></td>
            <td>
                <select name="Area11">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea11">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description11">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes11" /></td>
            <td><input type="text" name="Part11" size="5" /></td>
            <td><input type="text" name="CabinetType11" /></td>
            <td><input type="checkbox" name="Doors11" /></td>
            <td><input type="checkbox" name="Drawers11" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item12" /></td>
            <td>
                <select name="Area12">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea12">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description12">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes12" /></td>
            <td><input type="text" name="Part12" size="5" /></td>
            <td><input type="text" name="CabinetType12" /></td>
            <td><input type="checkbox" name="Doors12" /></td>
            <td><input type="checkbox" name="Drawers12" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item13" /></td>
            <td>
                <select name="Area13">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea13">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description13">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes13" /></td>
            <td><input type="text" name="Part13" size="5" /></td>
            <td><input type="text" name="CabinetType13" /></td>
            <td><input type="checkbox" name="Doors13" /></td>
            <td><input type="checkbox" name="Drawers13" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item14" /></td>
            <td>
                <select name="Area14">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea14">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description14">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes14" /></td>
            <td><input type="text" name="Part14" size="5" /></td>
            <td><input type="text" name="CabinetType14" /></td>
            <td><input type="checkbox" name="Doors14" /></td>
            <td><input type="checkbox" name="Drawers14" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item15" /></td>
            <td>
                <select name="Area15">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea15">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description15">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes15" /></td>
            <td><input type="text" name="Part15" size="5" /></td>
            <td><input type="text" name="CabinetType15" /></td>
            <td><input type="checkbox" name="Doors15" /></td>
            <td><input type="checkbox" name="Drawers15" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item16" /></td>
            <td>
                <select name="Area16">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea16">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description16">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes16" /></td>
            <td><input type="text" name="Part16" size="5" /></td>
            <td><input type="text" name="CabinetType16" /></td>
            <td><input type="checkbox" name="Doors16" /></td>
            <td><input type="checkbox" name="Drawers16" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item17" /></td>
            <td>
                <select name="Area17">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea17">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description17">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes17" /></td>
            <td><input type="text" name="Part17" size="5" /></td>
            <td><input type="text" name="CabinetType17" /></td>
            <td><input type="checkbox" name="Doors17" /></td>
            <td><input type="checkbox" name="Drawers17" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item18" /></td>
            <td>
                <select name="Area18">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea18">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description18">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes18" /></td>
            <td><input type="text" name="Part18" size="5" /></td>
            <td><input type="text" name="CabinetType18" /></td>
            <td><input type="checkbox" name="Doors18" /></td>
            <td><input type="checkbox" name="Drawers18" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item19" /></td>
            <td>
                <select name="Area19">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea19">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description19">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes19" /></td>
            <td><input type="text" name="Part19" size="5" /></td>
            <td><input type="text" name="CabinetType19" /></td>
            <td><input type="checkbox" name="Doors19" /></td>
            <td><input type="checkbox" name="Drawers19" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item20" /></td>
            <td>
                <select name="Area20">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea20">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description20">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes20" /></td>
            <td><input type="text" name="Part20" size="5" /></td>
            <td><input type="text" name="CabinetType20" /></td>
            <td><input type="checkbox" name="Doors20" /></td>
            <td><input type="checkbox" name="Drawers20" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item21" /></td>
            <td>
                <select name="Area21">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea21">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description21">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes21" /></td>
            <td><input type="text" name="Part21" size="5" /></td>
            <td><input type="text" name="CabinetType21" /></td>
            <td><input type="checkbox" name="Doors21" /></td>
            <td><input type="checkbox" name="Drawers21" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item22" /></td>
            <td>
                <select name="Area22">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea22">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description22">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes22" /></td>
            <td><input type="text" name="Part22" size="5" /></td>
            <td><input type="text" name="CabinetType22" /></td>
            <td><input type="checkbox" name="Doors22" /></td>
            <td><input type="checkbox" name="Drawers22" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item23" /></td>
            <td>
                <select name="Area23">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea23">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description23">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes23" /></td>
            <td><input type="text" name="Part23" size="5" /></td>
            <td><input type="text" name="CabinetType23" /></td>
            <td><input type="checkbox" name="Doors23" /></td>
            <td><input type="checkbox" name="Drawers23" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item24" /></td>
            <td>
                <select name="Area24">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea24">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description24">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes24" /></td>
            <td><input type="text" name="Part24" size="5" /></td>
            <td><input type="text" name="CabinetType24" /></td>
            <td><input type="checkbox" name="Doors24" /></td>
            <td><input type="checkbox" name="Drawers24" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Item25" /></td>
            <td>
                <select name="Area25">
                    @foreach (var curArea in areaList)
                    {
                        <option value="@curArea.Area">@curArea.Area</option>
                    }
                </select>
            </td>
            <td>
                <select name="WorkArea25">
                    @foreach (var curWorkArea in workAreaList)
                    {
                        <option value="@curWorkArea.WorkAreaName">@curWorkArea.WorkAreaName</option>
                    }
                </select>
            </td>
            <td>
                <select name="Description25">
                    @foreach (var curDesc in recutDesc)
                    {
                        <option value="@curDesc">@curDesc</option>
                    }
                </select>
            </td>
            <td><input type="text" name="Notes25" /></td>
            <td><input type="text" name="Part25" size="5" /></td>
            <td><input type="text" name="CabinetType25" /></td>
            <td><input type="checkbox" name="Doors25" /></td>
            <td><input type="checkbox" name="Drawers25" /></td>
        </tr>
    </table>
</form>