﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #E6DABB;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
a:link, a:visited { 
    color: #3D59A3;
    text-decoration: underline;
    cursor: auto;
}
a:link:active, a:visited:active { 
    color: #6CC247;
}
a:hover { 
    color: #121a30;
}

.page-head {
    background-color: #FFFFFF;
    padding-top: 10px;
}

table.data-list {
    background-color: #FFFFFF;
    border: 2px solid #3D59A3;
    font-size: 1.4em;
}
table.data-list td {
    background-color: #EEEEEE;
    padding-left: 20px;
}
table.data-list td.alt-row {
    background-color: #FFFFFF;
}
table.data-list td.sts-cell-green {
    font-size: 1.2em;
    font-weight: bold;
    background-color: #4CFF4C;
}
table.data-list td.sts-cell-red {
    font-size: 1.2em;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FF0000;
}
table.data-list th {
    background-color: #5F5f5f;
    color: #FFFFFF;
    padding: 2px 25px 2px 2px;
}
table.data-list th.top {
    background-color: #5F5f5f;
    color: #FFFFFF;
    font-size: 1.6em;
    border-bottom: 2px solid #FFFFFF;
}

.info {
    background-color: #FFFFFF;
    color: #000000;
    font-weight: bold;
}
.err {
    background-color: #FFFFFF;
    color: #FF0000;
    font-weight: bold;
}

table.entry {
    border: 2px solid #3D59A3;
    font-size: 1.4em;
    font-weight: bold;
}
table.entry td {
    background-color: #FFFFFF;
    border: 1px solid #5F5F5F;
    padding: 2px;
}
table.entry th {
    background-color: #5F5F5F;
    color: #FFFFFF;
}
